body {
    font-family: 'Roboto', sans-serif;
}



h1 {
    background-color: #2E2F42;

}
.logo {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
} 